html, body {
  height: 100%; /* Растягиваем на весь экран */
  margin: 0;
}

#root { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота экрана */
}

.main {
  flex: 1; /* Растягивает контент, чтобы футер всегда был внизу */
}
button{
  cursor: pointer;
  border: none;
}